﻿<%@ Page Title="Index" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="Placement_Portal.Index" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <form id="index_form" runat = "server" style="margin-bottom: 160px" >
        <div style="text-align : center" >
            <br />
            <asp:Button ID="student" runat="server" OnClick="student_Click" Text="STUDENT" style="left: -113px; top: 24px; position:relative; width: 24%; height: 35px;"  />
            <asp:Button ID="admin" runat="server" OnClick="admin_Click" Text="ADMIN" style="left: 150px;top: 24px; position:relative; width: 24%; height: 35px;" />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <asp:Button ID="ProfileCreatebtn" runat="server" style="margin-left: 6px" Text="Create a Student Profile" Width="350px" OnClick="ProfileCreatebtn_Click"/>
            <br />
            <asp:Button ID="Button1" runat="server" style="margin-left: 6px" Text="Recruiter Mode" Width="350px" OnClick="Button1_Click"/>
            <br />
            <br />
            <br />
     
            <asp:Label ID="Label1" runat="server" Text="Select a Theme:"></asp:Label>
&nbsp;&nbsp;&nbsp;
            <asp:DropDownList ID="DropDownList1" runat="server">
                <asp:ListItem>Red</asp:ListItem>
                <asp:ListItem>Sea</asp:ListItem>
            </asp:DropDownList>
            <br />
            <br />
            <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </div >
            </form>
    <asp:Image ID="Image2" runat="server" AlternateText= "FOOTER" ImageUrl="~/images/Contact_footer.jpg" style=" /*position:static;bottom: 0px*/" />
</asp:Content>
