﻿<%@ Page Title="Register for Jobs" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="JobReg.aspx.cs" Inherits="Placement_Portal.JobReg" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <form id="form1" runat="server">
        <br />
        <asp:Label ID="Label1" runat="server" Text="List of Jobs :"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="Enter the Job ID to Register : "></asp:Label>
        <br />
        <asp:GridView ID="GridView1" runat="server">
        </asp:GridView>
        <br />
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server"  Text="Register" OnClick="RegisterFunc" />
        <br />
        <br />
        <br />
        <asp:Label ID="Label3" runat="server"></asp:Label>
        <br />
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Back" />
        <br />
        <br />
     </form>
</asp:Content>
