﻿<%@ Page Title="Student Profile Search Results" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="SearchStudentProfilesResults.aspx.cs" Inherits="Placement_Portal.SearchStudentProfilesResults" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
      <form id="form1" runat="server">
        <asp:GridView ID="GridView1" runat="server">
        </asp:GridView>
        <br />
        <asp:Label ID="ResultsLabel" runat="server"></asp:Label>
          <br />
        <br />
        <asp:Button ID="BackButton" runat="server" Text="Back" OnClick="BackButton_OnClick" />
        <br />
        </form>
</asp:Content>
